<template>
  <div class="save">
    <BlackSquaresLeft />
    <div class="save__content">
      <div class="save__top">
        <div class="save__title" v-scroll="handleScroll">
          <h2>
            Інноваційність та безпека — ключові фактори технологічних рішень.
            «Розумний дім» у кожній квартирі.
          </h2>
        </div>
      </div>
      <div class="save__carousel">
        <el-carousel
          :interval="4000"
          type="card"
          height="300px"
          v-scroll="handleScroll"
        >
          <el-carousel-item>
            <i class="el-icon-sunny"></i>
            <h3 class="medium">
              Управління кліматом
            </h3>
          </el-carousel-item>
          <el-carousel-item>
            <i class="el-icon-cpu"></i>
            <h3 class="medium">Керування жалюзами та ролетами</h3>
          </el-carousel-item>
          <el-carousel-item>
            <i class="el-icon-money"></i>
            <h3 class="medium">
              Управління звуком
            </h3>
          </el-carousel-item>
          <el-carousel-item>
            <i class="el-icon-view"></i>
            <h3 class="medium">Датчики руху та система безпеки</h3>
          </el-carousel-item>
        </el-carousel>
      </div>
      <div class="save__bottom">
        <button class="button-blue" v-scroll="handleScroll">
          <a href="#"
            ><span class="button-blue__text">
              Детальніше про систему розумний дім</span
            ></a
          >
        </button>
      </div>
    </div>
    <BlackImagesRight />
  </div>
</template>
<script>
import BlackSquaresLeft from "../BlackSquaresLeft";
import BlackImagesRight from "../BlackImagesRight";
export default {
  data() {
    return {};
  },
  methods: {
    handleScroll: function(evt, el) {
      if (window.scrollY > 3450) {
        el.setAttribute("style", "opacity: 1; transform: translate3d(0,0,0)");
      }
      return window.scrollY > 3460;
    },
  },
  components: {
    BlackSquaresLeft,
    BlackImagesRight,
  },
};
</script>

<style lang="scss">
.save {
  min-height: 100vh;
  display: flex;
  position: relative;
  color: var(--x2);
  font-size: 40px;
  background: url("../../assets/images/fifth_page/phone.png") 80% 50% no-repeat;
  background-size: auto;
  margin: 0px 0px 50px 0px;
  &__content {
    display: flex;
    flex: 0 1 82.1%;
    flex-direction: column;
    padding: 0 10px;
    justify-content: space-around;
  }
  &__bottom {
    display: flex;
    width: 100%;
  }
  &__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    .blue-squares {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      span {
        position: absolute;
        top: 50%;
        left: 0%;
        font-size: 20px;
        color: var(--x6);
        padding: 0 20px;
        width: 240px;
        height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 100%;
        min-height: 100%;
        color: var(--x6);
      }
    }
  }
  &__top {
    display: flex;
    img {
      transform: translate3d(0, 60px, 0);
      transition: 1.5s all ease;
      opacity: 0;
    }
  }
  &__title {
    display: flex;
    flex: 0 1 50%;
    transform: translate3d(-60px, 0, 0);
    transition: 1.5s all ease;
    opacity: 0;
    color: var(--x2);
    font-size: 32px;
    align-items: center;
    line-height: 45px;
  }
  .el-carousel--horizontal {
    width: 85%;
    opacity: 0;
    transform: translate3d(0, 60px, 0);
    transition: 1.5s all ease 1s;
    overflow: hidden !important;
  }
  .el-carousel__item {
    background-color: var(--x3) !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .el-carousel__item h3 {
    color: var(--x6);
    font-size: 20px;
    opacity: 0.75;
    margin: 0;
    text-align: center;
    padding: 0px 10px;
  }

  .el-carousel__indicator--horizontal.is-active button {
    background-color: var(--x3) !important;
  }
  .el-icon-view {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--x6);
  }
  .el-icon-sunny {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--x6);
  }
  .el-icon-cpu {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--x6);
  }
  .el-icon-money {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--x6);
  }
}
</style>
