<template>
  <modal
    :padding="'32px 41px 19px 41px'"
    class="mid-modal"
    :value="value"
    :isBlur="true"
    @input="$emit('input', $event)"
  >
    <div class="popup__title">
      <div class="popup__top">
        <h2>Development</h2>
      </div>
      <span class="popup__bottom"> немає меж</span>
    </div>

    <div class="popup__text">
      <div class="popup__image image-modal">
        <picture>
          <source type="image/webp" srcset="@/assets/images/home_second.webp" />
          <source type="image/png " srcset="@/assets/images/home_second.png" />
          <source type="image/jpg " srcset="@/assets/images/home_second.jpg" />
          <img
            src="@/assets/images/home_second.webp"
            alt="home_second"
            class="image__main"
          />
        </picture>
        <img
          class="image-modal__inside mid"
          src="@/assets/images/second.png"
          alt="inside-second"
        />
      </div>
      <div class="popup__list">
        <ul>
          <li>
            <i class="el-icon-location-outline"></i><span> Київ, Україна</span>
          </li>
          <li><i class="el-icon-s-home"></i><span>Житловий комплекс</span></li>
          <li><i class="el-icon-medal-1"></i><span>Преміум-клас</span></li>
          <li><i class="el-icon-watch"></i><span>Будується</span></li>
        </ul>
      </div>
      <el-button> Попробовать</el-button>
    </div>

    <div class="popup__close" @click="$emit('input', false)"></div>
  </modal>
</template>

<script>
import Modal from "../ModalCard";
export default {
  components: {
    Modal,
  },
  props: {
    value: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.mid-modal {
  z-index: 5;
}
</style>
