<template>
  <div class="standart">
    <BlackSquaresLeft />
    <div class="standart__content">
      <div class="standart__header">
        <div class="title" v-scroll="handleScroll">
          <h2>
            Усі житлові комплекси Development спроектовані у відповідності з
            європейськими стандартами інженерії та будівництва.
          </h2>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="@/assets/images/second_page/Rectangle.webp"
          />
          <source
            type="image/png "
            srcset="@/assets/images/second_page/Rectangle.png"
          />
          <img
            src="@/assets/images/second_page/Rectangle.webp"
            alt="Rectangle"
            v-scroll="handleScroll"
          />
        </picture>
        <div class="text" v-scroll="handleScroll">
          <p>European standards of architecture</p>
        </div>
      </div>
      <div class="standart__row">
        <div class="standart__left" v-scroll="handleScroll">
          <div class="container">
            <ul>
              <li v-bind:class="check">
                <span>Енергоефективний фасад будинку</span>
              </li>
              <li v-bind:class="check">
                <span>Система центральної вентиляції</span>
              </li>
              <li v-bind:class="check">
                <span>Звукоізоляція від сусідів</span>
              </li>
              <li v-bind:class="check"><span>Якісна питна вода</span></li>
            </ul>
          </div>
        </div>
        <div class="standart__right" v-scroll="handleScroll">
          <div class="container">
            <ul>
              <li v-bind:class="check">
                <span>Аналіз радіофону будівельних матеріалів</span>
              </li>
              <li v-bind:class="check">
                <span>Система «антизатоплення»</span>
              </li>
              <li v-bind:class="check">
                <span>Власне снігоприбиральне обладнання</span>
              </li>
              <li v-bind:class="check">
                <span>Власна котельня у кожному домі</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="standart__bottom">
        <button class="button-blue" v-scroll="handleScroll">
          <a href="#"
            ><span class="button-blue__text">Детальніше про стандарти</span></a
          >
        </button>
      </div>
    </div>
    <BlackImagesRight />
  </div>
</template>
<script>
import BlackSquaresLeft from "../BlackSquaresLeft";
import BlackImagesRight from "../BlackImagesRight";
export default {
  data() {
    return {
      check: "el-icon-check",
    };
  },
  methods: {
    handleScroll: function(evt, el) {
      if (window.scrollY > 2450) {
        el.setAttribute("style", "opacity: 1; transform: translate3d(0,0,0)");
      }
      return window.scrollY > 2460;
    },
  },
  components: {
    BlackSquaresLeft,
    BlackImagesRight,
  },
};
</script>

<style lang="scss">
.standart {
  min-height: 100vh;
  display: flex;
  margin: 0px 0px 50px 0px;
  &__content {
    display: flex;
    flex: 0 1 82.1%;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 10px;
  }
  &__row {
    display: flex;
    line-height: 30px;
    li {
      font-size: 20px;
      color: var(--x2);
      line-height: 60px;
      position: relative;
    }
  }
  &__left {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
    transform: translate3d(-60px, 0, 0);
    transition: 1.5s all ease 0.5s;
    opacity: 0;
  }
  &__right {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
    align-items: flex-start;
    transform: translate3d(60px, 0, 0);
    transition: 1.5s all ease 0.5s;
    opacity: 0;
  }
  &__bottom {
    display: flex;
    flex: 0 1 10%;
  }
  &__header {
    display: flex;
    img {
      transform: translate3d(0, 60px, 0);
      transition: 1.5s all ease;
      opacity: 0;
    }
    .title {
      display: flex;
      flex: 0 1 70%;
      align-items: center;
      transform: translate3d(-60px, 0, 0);
      transition: 1.5s all ease;
      opacity: 0;
      padding: 0px 5px;
      h2 {
        max-width: 730px;
      }
    }
    .text {
      display: flex;
      flex: 0 0 30%;
      color: rgba($color: #000000, $alpha: 0.4);
      font-size: 20px;
      font-weight: 400;
      align-items: center;
      justify-content: center;
      letter-spacing: 7px;
      text-transform: uppercase;
      line-height: 35px;
      transform: translate3d(60px, 0, 0);
      transition: 1.5s all ease;
      opacity: 0;
      padding: 0px 5px;
      p {
        max-width: 231px;
      }
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
    span {
      padding: 0px 0px 0px 10px;
    }
    :hover {
      color: var(--x3);
    }
  }
}
</style>
