<template>
  <div class="advantages">
    <BlackSquaresLeft />
    <div class="advantages__body">
      <div class="advantages__header">
        <div class="advantages__title" v-scroll="handleScroll">
          <h2>
            Ми будуємо Європу в Україні, маючи <br />
            незаперечні переваги, що виділяють нас поміж інших.
          </h2>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="@/assets/images/second_page/Rectangle.webp"
          />
          <source
            type="image/png "
            srcset="@/assets/images/second_page/Rectangle.png"
          />
          <img
            src="@/assets/images/second_page/Rectangle.webp"
            alt="Rectangle"
            v-scroll="handleScroll"
          />
        </picture>
        <div class="advantages__text" v-scroll="handleScroll">
          <p>We create the European lifestyle in Ukraine</p>
        </div>
      </div>
      <div class="advantages__row">
        <div class="advantages__column" v-scroll="handleScroll">
          <div class="item">
            <div class="item__title">
              <h4>Інтенсивні темпи виконання робіт сiгодня</h4>
            </div>
            <div class="item__text">
              <span>
                Наш портфель налічує 3 житлові комплекси за 1 рік роботи в
                Україні.
              </span>
            </div>
          </div>
        </div>
        <div class="advantages__column" v-scroll="handleScroll">
          <div class="item">
            <div class="item__title">
              <h4>
                Гарантоване фінансування будівництва
              </h4>
            </div>
            <div class="item__text">
              <span>
                Більше $171 млн залучених іноземних інвестицій забезпечують
                безперебійний процес будівництва.
              </span>
            </div>
          </div>
        </div>
        <div class="advantages__column" v-scroll="handleScroll">
          <div class="item">
            <div class="item__title">
              <h4>
                Зарубіжний інтелектуальний потенціал
              </h4>
            </div>
            <div class="item__text">
              <span>
                47% наших співробітників має успішний досвід роботи за кордоном.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="advantages__bottom">
        <button class="button-blue" v-scroll="handleScroll">
          <a href="#"
            ><p class="button-blue__text">
              Детальніше про компанію
            </p></a
          >
        </button>
      </div>
    </div>
    <BlackImagesRight />
  </div>
</template>
<script>
import BlackSquaresLeft from "../BlackSquaresLeft";
import BlackImagesRight from "../BlackImagesRight";
export default {
  data() {
    return {
      active: false,
    };
  },
  methods: {
    handleScroll: function(evt, el) {
      if (window.scrollY > 450) {
        el.setAttribute("style", "opacity: 1; transform: translate3d(0,0,0)");
      }
      return window.scrollY > 460;
    },
  },
  components: {
    BlackSquaresLeft,
    BlackImagesRight,
  },
};
</script>

<style lang="scss">
.advantages {
  min-height: 100vh;
  display: flex;
  margin: 0px 0px 50px 0px;
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__header {
    display: flex;
    padding: 0px 5px;
    img {
      transform: translate3d(0, 60px, 0);
      transition: 1.5s all ease;
      opacity: 0;
    }
  }
  &__title {
    display: flex;
    flex: 0 1 70%;
    align-items: center;
    transform: translate3d(-60px, 0, 0);
    transition: 1.5s all ease;
    opacity: 0;
    h2 {
      max-width: 730px;
    }
  }
  &__text {
    display: flex;
    flex: 0 1 30%;
    color: var(--text-secondary);
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    line-height: 35px;
    transform: translate3d(60px, 0, 0);
    transition: 1.5s all ease;
    opacity: 0;
    padding: 0px 5px;
    p {
      max-width: 231px;
    }
  }
  &__row {
    display: flex;
    padding: 0px 5px;
  }
  &__column {
    display: flex;
    flex: 0 1 33.3%;
    flex-direction: column;
    transform: translate3d(-60px, 0, 0);
    transition: 1.5s all ease 0.5s;
    opacity: 0;
  }
  &__bottom {
    padding: 0px 5px;
  }
}
.item {
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
    color: var(--text-secondary);
  }
}
</style>
