<template>
  <div class="menu">
    <div
      class="menu__burger"
      @click="showMenu = !showMenu"
      :class="{ active: showMenu }"
    >
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </div>
    <div
      class="menu__body"
      @click="showMenu = !showMenu"
      :class="{ active: showMenu }"
    >
      <ul class="menu__list">
        <li>
          <a @click="$emit('openblock', 1)" class="menu__link">
            <p>Главная</p></a
          >
        </li>
        <li>
          <a @click="$emit('openblock', 2)" class="menu__link">
            <p>Наши преймущества</p></a
          >
        </li>
        <li>
          <a @click="$emit('openblock', 3)" class="menu__link">
            <p>Наши ценности</p></a
          >
        </li>
        <li>
          <a @click="$emit('openblock', 4)" class="menu__link">
            <p>Стандарты качества</p></a
          >
        </li>
        <li>
          <a @click="$emit('openblock', 5)" class="menu__link">
            <p>Инновационность и безопасность</p></a
          >
        </li>
        <li>
          <a @click="$emit('openblock', 6)" class="menu__link">
            <p>Жилье от Development</p></a
          >
        </li>
        <li>
          <a @click="$emit('openblock', 7)" class="menu__link">
            <p>Старт продаж</p></a
          >
        </li>
        <li>
          <a @click="$emit('openblock', 8)" class="menu__link">
            <p>Информация</p></a
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showMenu: false,
    };
  },
  watch: {
    showMenu: function() {
      document.body.style.overflow = this.showMenu ? "hidden" : "";
    },
  },
};
</script>

<style lang="scss">
.el-button.menu.el-button--default {
  background-color: transparent;
  border: none;
}
.menu {
  &__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 18px;
    z-index: 15;
    background-color: transparent;
    cursor: pointer;
    span {
      transition: 0.5s ease;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--x6);
      &:first-child {
        top: 0px;
      }
      &:nth-child(2) {
        width: 15px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &:hover {
      span:nth-child(2) {
        width: 30px;
      }
    }
    &.active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: 8px;
        }
      }
      body {
        overflow: hidden;
      }
    }
  }
  &__body {
    position: fixed;
    overflow: auto;
    right: -150%;
    top: 0%;
    width: 300px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px 10px 28px;
    transition: all 0.5s ease;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &.active {
      right: 0;
    }
  }
  &__list {
    position: absolute;
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0px 0px 50px 0px;
      cursor: pointer;
      width: 280px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: 100;
    color: var(--x6);
    letter-spacing: 1px;
    transition: all 0.3s ease;
    &:hover {
      color: var(--x3);
    }

    &:before {
      content: "";
      display: inline-block;
      min-width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      margin: 0px 10px 0px 0px;
    }
  }
}
</style>
