<template>
  <header style="z-index:5">
    <div class="header">
      <div class="header__top">
        <a href="#">
          <picture>
            <source
              type="image/webp"
              srcset="@/assets/images/first_page/FB.webp"
            />
            <source
              type="image/png"
              srcset="@/assets/images/first_page/FB.png"
            />
            <img src="@/assets/images/first_page/FB.webp" alt="Facebook" />
          </picture>
        </a>
        <Logo />
        <Burger @openblock="(value) => $emit('openblock', value)" />
      </div>
    </div>
  </header>
</template>

<script>
import Burger from "./burger";
import Logo from "@/components/Logo";
export default {
  components: {
    Burger,
    Logo,
  },
};
</script>

<style lang="scss">
.header {
  position: relative;
  width: 100%;
  margin: 60px 0px 0px 0px;
  z-index: 2;
  &__top {
    width: 93%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img:hover {
      transition: all 0.5s ease;
      box-shadow: 0 0 15px var(--x3);
    }
  }
}
</style>
