<template>
  <div class="main-page__container">
    <div class="main-page__sq">
      <img
        src="@/assets/images/first_page/Combined_Shape.png"
        alt="white_blocks"
      />
    </div>
    <div class="main-page__center">
      <h1>Національний<br />забудовник</h1>
      <h2>
        з іноземними інвестиціями
      </h2>
      <div class="main-page__dicoration">
        <div class="main-page__content">
          <div class="decor" v-bind:class="{ reverse: isActive }">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="arrow-7" v-bind:class="{ reverse: isActive }">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <WhiteImagesRight />
  </div>
</template>
<script>
import WhiteImagesRight from "../WhiteImagesRight";
export default {
  data() {
    return {
      isActive: false,
    };
  },
  methods: {},
  mounted: function() {
    setTimeout(() => (this.isActive = true), 500);
  },
  components: {
    WhiteImagesRight,
  },
};
</script>
<style lang="scss">
.main-page {
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 0px 0px;
    flex: 0 1 100%;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: var(--x2);
      min-height: 80px;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 80px;
      background-color: var(--x2);
    }
  }
  &__sq {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 10%;
    z-index: 5;
  }
  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 60%;
    z-index: 2;
    h2 {
      color: var(--x6);
      font-weight: 100;
      line-height: 48px;
      margin: 25px 0px 0px 0px;
      max-height: 442px;
    }
  }
  &__dicoration {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    position: relative;
    flex: 0 1 8.4%;
    min-height: 100%;
  }
}
.decor {
  position: relative;
  min-height: 30px;
  width: 30px;
  z-index: 1;
  display: flex;

  &.reverse {
    transition: all 1s ease-in-out;
    transform: rotate(90deg);
  }
  :nth-child(1) {
    position: absolute;
    width: 88px;
    top: -78px;
    right: -30px;
    height: 1px;
    background-color: var(--x6);
    transform: rotate(90deg);
  }
  :nth-child(2) {
    position: absolute;
    width: 30px;
    top: 0;
    height: 1px;
    background-color: var(--x6);
  }
  :nth-child(3) {
    position: absolute;
    width: 30px;
    top: 50%;
    height: 1px;
    background-color: var(--x6);
  }
  :nth-child(4) {
    position: absolute;
    width: 30px;
    bottom: 0;
    height: 1px;
    background-color: var(--x6);
  }
  :nth-child(5) {
    position: absolute;
    width: 88px;
    bottom: -78px;
    right: -30px;
    height: 1px;
    background-color: var(--x6);
    transform: rotate(90deg);
  }
}
.arrow-7 {
  position: relative;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  visibility: hidden;
  &.reverse {
    transition: all 2.5s ease 0.9s;
    visibility: visible;
  }
}

.arrow-7 span {
  position: absolute;
  left: 0%;
  top: 0%;
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid var(--x6);
  border-right: 5px solid var(--x6);
  transform: rotate(45deg);
  animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes arrow-7 {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(0px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(30px, 30px);
  }
}
</style>
