<template>
  <div class="main-page">
    <div class="square"></div>
    <div class="container">
      <Header @openblock="(value) => $emit('openblock', value)"></Header>
      <Content />
    </div>
  </div>
</template>

<script>
import Header from "@/components/MainPage/Header/Header";
import Content from "@/components/MainPage/Content";
export default {
  components: {
    Header,
    Content,
  },
};
</script>

<style lang="scss">
.main-page {
  display: flex;
  min-height: 100vh;
  position: relative;
  background: url("../../assets/images/first_page/HeroImageCopy.jpg") center
    no-repeat;
  background-size: cover;
  background-color: #666;
  margin: 0px 0px 100px 0px;
}
.square {
  position: absolute;
  right: 2%;
  top: 0;
  background-color: #000;
  width: 160px;
  height: 160px;
}
</style>
