<template>
  <div class="start-sale">
    <BlackSquaresLeft />
    <div class="start-sale__top" v-scroll="handleScroll">
      <div class="start-sale__column">
        <div class="start-sale__content">
          <span>Новини компанії</span>
          <button class="button-blue" v-scroll="handleScroll">
            <a href="#"><span class="button-blue__text"> Більше новин</span></a>
          </button>
        </div>
      </div>
      <div class="start-sale__column">
        <a href="#" class="start-sale__image">
          <picture>
            <source
              type="image/webp"
              srcset="@/assets/images/home_second_m.webp"
            />
            <source
              type="image/jpg"
              srcset="@/assets/images/home_second_m.jpg"
            />
            <source
              type="image/png"
              srcset="@/assets/images/home_second_m.png"
            />
            <img src="@/assets/images/home_second_m.webp" alt="home_second" />
          </picture>
        </a>
      </div>
      <div class="start-sale__column">
        <div class="start-sale__content">
          <div class="start-sale__title">Новини ЖК Vintage</div>
          <h3>
            Компанія Development оголошує старт продажу восьмої черги житлового
            комплексу VINTAGE.
          </h3>
          <span class="start-sale__date">20.09.2019</span>
        </div>
      </div>
    </div>

    <div class="start-sale__bottom" v-scroll="handleScroll">
      <div class="start-sale__column">
        <a href="#" class="start-sale__image">
          <picture>
            <source
              type="image/webp"
              srcset="@/assets/images/home_fourth.webp"
            />
            <source type="image/jpg" srcset="@/assets/images/home_fourth.jpg" />
            <source type="image/png" srcset="@/assets/images/home_fourth.png" />
            <img src="@/assets/images/home_fourth.webp" alt="home_fourth" />
          </picture>
        </a>
      </div>
      <div class="start-sale__column">
        <div class="start-sale__content">
          <div class="start-sale__title">Новини ЖК Vintage</div>
          <h3>
            Компанія Development оголошує старт продажу восьмої черги житлового
            комплексу PODOL GRAD VINTAGE.
          </h3>
          <span class="start-sale__date">20.09.2019</span>
        </div>
      </div>
      <div class="start-sale__column bg">
        <div class="start-sale__content ">
          <div class="start-sale__inside-title">Новини ЖК Vintage</div>
          <span class="start-sale__inside-text">
            Компанія Development оголошує старт продажу восьмої черги житлового
            комплексу PODOL GRAD VINTAGE.
          </span>
          <span class="start-sale__inside-date">20.09.2019</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BlackSquaresLeft from "../BlackSquaresLeft";
export default {
  methods: {
    handleScroll: function(evt, el) {
      if (window.scrollY > 5650) {
        el.setAttribute("style", "opacity: 1; transform: translate3d(0,0,0)");
      }
      return window.scrollY > 5650;
    },
  },
  components: {
    BlackSquaresLeft,
  },
};
</script>

<style lang="scss">
.start-sale {
  position: relative;
  display: flex;
  flex-direction: column;
  .black-squares-left {
    position: absolute;
    left: 0;
    top: 30%;
    z-index: 5;
  }
  .button {
    width: 240px;
    height: 70px;
    background: transparent;
    border-bottom: solid 1px;
    color: var(--x3);
    text-align: left;
    position: relative;
    &__text {
      text-transform: uppercase;
      color: var(--x3);
      font-size: 14px;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 45%;
        height: 1px;
        width: 80px;
        background-color: var(--x3);
      }
    }
  }
  .button:hover {
    .button_text:after {
      animation: button 2s infinite;
      @keyframes button {
        0% {
          right: 0%;
        }
        50% {
          right: 5%;
        }
        100% {
          right: 0%;
        }
      }
    }
  }
  &__top {
    display: flex;
    transform: translate3d(-60px, 0, 0);
    transition: 1.5s all ease;
    opacity: 0;
  }
  &__bottom {
    display: flex;
    transform: translate3d(-60px, 0, 0);
    transition: 1.5s all ease 1s;
    opacity: 0;
  }
  &__column {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.35%;
    align-items: center;
    justify-content: center;
  }
  &__image {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      min-height: 100%;
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: all 0.3s ease;
    }
    &:hover {
      &:before {
        background-color: rgba($color: #00adef, $alpha: 0.3);
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 285px;
    font-size: 40px;
    line-height: 56px;
    font-weight: 900;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40px;
    background-color: var(--x2);
    color: var(--x6);
    font-size: 16px;
    z-index: 5;
  }
  &__date {
    opacity: 0.5;
    color: var(--x2);
    font-size: 16px;
    margin: 76px 0px 0px 0px;
  }
  h3 {
    color: var(--x2);
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    margin: 40px 0px 0px 0px;
    padding: 0px 5px;
  }
  &__inside-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40px;
    background-color: var(--x2);
    color: var(--x6);
    font-size: 16px;
    z-index: 5;
  }
  &__inside-date {
    opacity: 0.5;
    color: var(--x6);
    font-size: 16px;
    margin: 76px 0px 0px 0px;
  }
  &__inside-text {
    color: var(--x6);
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    margin: 40px 0px 0px 0px;
    padding: 0px 5px;
  }
}
.bg {
  background: url("../../assets/images/home_fifth.jpg") 0 0 no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  &:hover {
    &:before {
      background-color: rgba($color: #00adef, $alpha: 0.3);
    }
  }
}
</style>
