<template>
  <div class="home">
    <div class="home__background"></div>
    <WhiteSquaresLeft />
    <div class="home__content content-home">
      <div class="content-home__top">
        <span class="content-home__title" v-scroll="handleScroll"
          ><h2>
            Житло від Development — це бездоганність форми та змісту у кожному
            квадратному метрі.
          </h2></span
        >
        <picture>
          <source
            type="image/webp"
            srcset="@/assets/images/second_page/Rectangle.webp"
          />
          <source
            type="image/png "
            srcset="@/assets/images/second_page/Rectangle.png"
          />
          <img
            src="@/assets/images/second_page/Rectangle.webp"
            alt="Rectangle"
            v-scroll="handleScroll"
          />
        </picture>
        <span class="content-home__text" v-scroll="handleScroll"
          ><span
            >FIND Out MORE ABOUT PROJECTS DEVELOPED BY OUR COMPANY</span
          ></span
        >
      </div>

      <div class="content-home__bottom">
        <div class="content-home__column">
          <div class="image" @click="isVisible_1 = true">
            <img
              class="image__main"
              src="@/assets/images/home_first.jpg"
              alt="home-first"
            />
            <img
              class="image__inside"
              src="@/assets/images/first.png"
              alt="inside-first"
            />
          </div>
          <LeftModal v-model="isVisible_1" />
          <div class="list">
            <ul>
              <li>
                <i class="el-icon-location-outline"></i
                ><span> Київ, Україна</span>
              </li>
              <li>
                <i class="el-icon-s-home"></i><span>Житловий комплекс</span>
              </li>
              <li><i class="el-icon-medal-1"></i><span>Преміум-клас</span></li>
              <li><i class="el-icon-watch"></i><span>Будується</span></li>
            </ul>
          </div>
        </div>

        <div class="content-home__column">
          <div class="image" @click="isVisible_2 = true">
            <img
              class="image__main"
              src="@/assets/images/home_second.jpg"
              alt="home_second"
            />
            <img
              class="image__inside mid"
              src="@/assets/images/second.png"
              alt="inside-second"
            />
          </div>
          <MidModal v-model="isVisible_2" />
          <div class="list">
            <ul>
              <li>
                <i class="el-icon-location-outline"></i
                ><span> Київ, Україна</span>
              </li>
              <li>
                <i class="el-icon-s-home"></i><span>Житловий комплекс</span>
              </li>
              <li><i class="el-icon-medal-1"></i><span>Преміум-клас</span></li>
              <li><i class="el-icon-watch"></i><span>Будується</span></li>
            </ul>
          </div>
        </div>

        <div class="content-home__column">
          <div class="image" @click="isVisible_3 = true">
            <img
              class="image__main"
              src="@/assets/images/home_third.jpg"
              alt="home-third"
            />
            <img
              class="image__inside"
              src="@/assets/images/third.png"
              alt="inside-third"
            />
          </div>
          <RightModal v-model="isVisible_3" />
          <div class="list">
            <ul>
              <li>
                <i class="el-icon-location-outline"></i
                ><span> Київ, Україна</span>
              </li>
              <li>
                <i class="el-icon-s-home"></i><span>Житловий комплекс</span>
              </li>
              <li><i class="el-icon-medal-1"></i><span>Преміум-клас</span></li>
              <li><i class="el-icon-watch"></i><span>Будується</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import WhiteSquaresLeft from "../WhiteSquaresLeft";
import LeftModal from "../Modals/LeftModal";
import MidModal from "../Modals/MidModal";
import RightModal from "../Modals/RightModal";
export default {
  data() {
    return {
      isVisible_1: false,
      isVisible_2: false,
      isVisible_3: false,
    };
  },
  components: {
    WhiteSquaresLeft,
    LeftModal,
    MidModal,
    RightModal,
  },
  methods: {
    handleScroll: function(evt, el) {
      if (window.scrollY > 4450) {
        el.setAttribute("style", "opacity: 1; transform: translate3d(0,0,0)");
      }
      return window.scrollY > 4450;
    },
  },
  watch: {
    isVisible_1: function() {
      document.body.style.overflow = this.isVisible_1 ? "hidden" : "";
    },
    isVisible_2: function() {
      document.body.style.overflow = this.isVisible_2 ? "hidden" : "";
    },
    isVisible_3: function() {
      document.body.style.overflow = this.isVisible_3 ? "hidden" : "";
    },
  },
};
</script>

<style lang="scss">
.home {
  min-height: 100vh;
  display: flex;
  position: relative;
  margin: 0px 0px 50px 0px;
  &__background {
    position: absolute;
    height: 70%;
    width: 100%;
    background-color: var(--x2);
  }
  .white-squares-left {
    padding: 115px 0px 0px 0px;
    align-items: flex-start;
  }
}
.content-home {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 10px;
  &__top {
    display: flex;
    margin: 60px 0px 40px 0px;
    img {
      transform: translate3d(0, 60px, 0);
      transition: 1.5s all ease;
      opacity: 0;
    }
  }
  &__title {
    display: flex;
    flex: 0 1 60%;
    font-size: 32px;
    align-items: center;
    line-height: 45px;
    transform: translate3d(-60px, 0, 0);
    transition: 1.5s all ease;
    opacity: 0;
    padding: 0px 5px;
    h2 {
      color: var(--x6);
      max-width: 680px;
    }
  }
  &__text {
    display: flex;
    flex: 0 1 30%;
    color: rgba($color: #fff, $alpha: 0.4);
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    line-height: 35px;
    transform: translate3d(60px, 0, 0);
    transition: 1.5s all ease;
    opacity: 0;
    padding: 0px 5px;
    span {
      max-width: 231px;
    }
  }
  &__bottom {
    display: flex;
  }
  &__column {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    flex: 0 1 33.3%;
    margin: 5px 5px;
    .image {
      display: flex;
      width: 330px;
      height: 360px;
      position: relative;
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      &:hover {
        &:before {
          background-color: rgba($color: #000, $alpha: 0.3);
        }
      }
      &__main {
        min-height: 100%;
        width: 100%;
      }
      &__inside {
        position: absolute;
        left: 30%;
        top: 30%;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.5);
        transition: all 0.5s ease;
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      ul {
        li {
          margin: 15px 0px 0px 0px;
          transition: all 0.5s ease;
          color: var(--x2);
          span {
            padding: 0px 15px;
            opacity: 0.5;
            font-size: 16px;
            line-height: 28px;
          }
          &:hover {
            color: var(--x3);
          }
        }
      }
    }
  }
}
.image__inside.mid {
  top: 40%;
  left: 21%;
}
.image-modal__inside.mid {
  left: 16%;
  top: 38%;
}
</style>
