<template>
  <div class="black-squares-left">
    <img src="@/assets/images/second_page/squares.png" alt="black_squares" />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.black-squares-left {
  display: flex;
  flex: 0 1 10%;
  align-items: center;
}
</style>
