<template>
  <div class="black-images-right">
    <img
      src="@/assets/images/second_page/Rectangle-black.png"
      alt="Rectangle-black"
    />
    <img src="@/assets/images/second_page/first_image.png" alt="image_1" />
    <img src="@/assets/images/second_page/second_image.png" alt="image_2" />
    <img src="@/assets/images/second_page/third_image.png" alt="image_3" />
    <img
      src="@/assets/images/second_page/Rectangle-black.png"
      alt="Rectangle-black"
    />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.black-images-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 0 1 8.3%;
  z-index: 2;
  padding: 0px 5px;
}
</style>
