<template>
  <div class="logo">
    Development
  </div>
</template>

<style lang="scss">
.logo {
  text-align: center;
  font-size: 40px;
  color: var(--x6);
  font-weight: 900;
  letter-spacing: 5px;
  padding: 0px 5px;
}
</style>
