<template>
  <div
    class="popup"
    :class="{ blur: isBlur, visible: value }"
    @click="$emit('input', !value)"
  >
    <div class="popup__body">
      <div
        class="popup__content"
        @click.stop=""
        :style="{ padding: `${padding}` }"
      >
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  components: {},
  props: {
    padding: {
      type: String,
      default: "20px",
    },
    value: {
      type: Boolean,
      default: false,
    },
    isBlur: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss"></style>
