<template>
  <div class="white-images-right">
    <img src="@/assets/images/first_page/rectangle.png" alt="Rectangle" />
    <img src="@/assets/images/first_page/first_img.png" alt="image_1" />
    <img src="@/assets/images/first_page/second_img.png" alt="image_2" />
    <img src="@/assets/images/first_page/third_img.png" alt="image_3" />
    <img src="@/assets/images/first_page/rectangle.png" alt="Rectangle" />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.white-images-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 0 1 8.3%;
  z-index: 2;
  padding: 0px 5px;
}
</style>
