<template>
  <div class="white-squares-left">
    <img src="@/assets/images/third_page/squares.png" alt="white_squares" />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.white-squares-left {
  display: flex;
  flex: 0 1 10%;
  align-items: center;
  z-index: 2;
}
</style>
