<template>
  <div class="footer">
    <div class="footer__info">
      <div class="footer__column">
        <Logo />
        <div class="footer__text">
          <span> Головний офіс Development</span>
          <p>м. Київ, вул. Солом‘янська, 11 (БЦ Eleven)</p>
          <div class="footer__number">
            <a href="#" class="mail"><span>info@development.de</span></a>
            <a href="#"><span>+38 (044) 223 55 11</span></a>
            <a href="#"><span>+38 (063) 745 55 11</span></a>
            <a href="#"><span>+38 (050) 745 55 11</span></a>
            <a href="#"><span>+38 (098) 745 55 11</span></a>
          </div>
        </div>
        <div class="reseved">All rights reserved - 2018</div>
      </div>
      <div class="footer__column">
        <div class="footer__list">
          <a href="#"><span>Головна</span></a>
          <a href="#"><span>Про компанію</span></a>
          <a href="#"><span>Про компанію</span></a>
          <a href="#"><span>Новини</span></a>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__list">
          <a href="#"><span>Технологія «Розумний будинок»</span></a>
          <a href="#"><span>Європейські стандарти</span></a>
          <a href="#"><span>Умови придбання</span></a>
          <a href="#"><span>Контакти</span></a>
        </div>
      </div>
    </div>

    <div class="footer__pecture">
      <div class="image">
        <img src="@/assets/images/first.png" alt="first" />
      </div>
      <div class="image">
        <img src="@/assets/images/second.png" alt="second" />
      </div>
      <div class="image">
        <img src="@/assets/images/third.png" alt="third" />
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "../Logo";
export default {
  components: {
    Logo,
  },
};
</script>

<style lang="scss">
.footer {
  min-height: 60vh;
  display: flex;
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 80%;
    background-color: var(--x2);
  }
  &__column {
    flex: 0 1 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    padding: 10px 10px;
    .reseved {
      color: var(--x6);
      font-size: 16px;
      line-height: 28px;
      padding: 0px 5px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    a {
      margin: 10px 0px;
    }
  }
  &__pecture {
    flex: 0 1 20%;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .image {
      padding: 10px 10px;
    }
  }
  &__text {
    color: var(--x6);
    font-size: 16px;
    line-height: 28px;
    padding: 10px 5px;
  }
  &__number {
    display: flex;
    flex-direction: column;
    .mail {
      margin: 40px 0px;
    }
    a {
      max-width: 145px;
    }
  }
  a {
    transition: all 0.3s ease;
    color: var(--x6);
    &:hover {
      color: var(--x3);
    }
  }
  .logo {
    text-align: left;
  }
}
</style>
