<template>
  <div class="worth">
    <div class="worth__background">
      <div class="background">
        <img src="@/assets/images/third_page/man.png" alt="old.man" />
      </div>
    </div>
    <WhiteSquaresLeft />
    <div class="worth__center">
      <div class="content">
        <div class="content__title" v-scroll="handleScroll">
          <h2>
            «В основі цінностей нашої компанії лежить чесність, інноваційність і
            відкритість.
          </h2>
        </div>
        <div class="content__text" v-scroll="handleScroll">
          <span>
            Наше завдання - подарувати українцям вишукане та якісне житло,
            збудоване за європейськими стандартами інженерії та
            проектування.</span
          >
          <p>
            Я радий, що можу поділитись своїм дbutton__textосвідом роботи над
            проектами в Данії та Швеції, працюючи в команді Development в
            Україні, працюючи в команді професіоналів».
          </p>
        </div>
        <div class="content__autograf" v-scroll="handleScroll">
          <span
            >Магнус Веттерхольм,головний <br />
            архітектор Development</span
          >
          <img src="@/assets/images/third_page/autograf.png" alt="autograf" />
        </div>
        <button class="button-blue" v-scroll="handleScroll">
          <a href="#"
            ><span class="button-blue__text">Детальніше про команду</span></a
          >
        </button>
      </div>
    </div>
    <WhiteImagesRight />
  </div>
</template>

<script>
import WhiteSquaresLeft from "../WhiteSquaresLeft";
import WhiteImagesRight from "../WhiteImagesRight";
export default {
  data() {
    return {};
  },
  methods: {
    handleScroll: function(evt, el) {
      if (window.scrollY > 1500) {
        el.setAttribute("style", "opacity: 1; transform: translate3d(0,0,0)");
      }
      return window.scrollY > 1510;
    },
  },
  components: {
    WhiteSquaresLeft,
    WhiteImagesRight,
  },
};
</script>

<style lang="scss">
.worth {
  min-height: 80vh;
  display: flex;
  position: relative;
  margin: 0px 0px 140px 0px;
  &__background {
    display: flex;
    position: absolute;
    height: 100%;
    width: 96%;
    background-color: rgba($color: #000000, $alpha: 0.92);
    box-shadow: 40px 50px 50px 25px rgba($color: #000000, $alpha: 0.4);
  }
  &__center {
    display: flex;
    flex: 0 1 82.5%;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 10% 0px 0px;
  }
}
.background {
  display: flex;
  &_left {
    display: flex;
    flex: 0 1 100%;
    img {
      max-width: 100%;
      min-height: 100%;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  height: 100%;
  justify-content: space-around;
  &__title {
    transform: translate3d(-60px, 0, 0);
    transition: 1.5s all ease;
    opacity: 0;
    h2 {
      color: var(--x6);
      line-height: 50px;
    }
  }
  &__text {
    font-size: 16px;
    color: var(--x6);
    text-align: left;
    line-height: 30px;
    transform: translate3d(-60px, 0, 0);
    transition: 1.5s all ease 0.5s;
    opacity: 0;
  }
  &__autograf {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--x6);
    text-align: left;
    align-items: center;
    line-height: 50px;
    transform: translate3d(-60px, 0, 0);
    transition: 1.5s all ease 1s;
    opacity: 0;
  }
}
</style>
