$md1: 370.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// ====================ALL=====================================

@media (max-width: $md3 +px) {
  .black-squares-left {
    display: none;
  }
  .main-page__sq {
    display: none;
  }
  .black-images-right {
    display: none;
  }
  .white-squares-left {
    display: none;
  }

  .white-images-right {
    display: none;
  }
}
// =====================MAIN-PAGE==============================
@media (max-width: 1300px) {
  .main-page__dicoration {
    margin: 130px 0px 0px 0px;
  }
}
@media (max-width: $md3 + px) {
  .menu__body {
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 50px;
  }
  .menu__list {
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    margin: 150px 0px 0px 0px;
    li {
      display: flex;
      width: 400px;
      justify-content: flex-start;
      &:hover {
        background-color: var(--x3);
        a {
          color: var(--x6);
        }
      }
    }
  }
  .main-page__container {
    justify-content: center;
  }
  .main-page {
    margin: 0px 0px 50px 0px;
    .square {
      display: none;
    }
  }
  .main-page__container::after {
    display: none;
  }
}
@media (max-width: $md4 + px) {
  .logo {
    font-size: 25px;
  }
  .main-page__center {
    h1 {
      font-size: 45px;
      text-align: center;
      line-height: 45px;
    }
    h2 {
      font-size: 30px;
      text-align: center;
    }
  }
  .main-page__dicoration {
    margin: 125px 0px 0px 0px;
  }
}
@media (max-width: $md4 + px) {
  .menu__list {
    li {
      width: 300px;
      font-size: 20px;
    }
  }
}
// ================Advantages================================
@media (max-width: $md2 + px) {
  .advantages__body {
    h2 {
      font-size: 24px;
    }
    h4 {
      font-size: 14px;
    }
    span {
      font-size: 14px;
    }
  }
  .advantages__text {
    font-size: 15px;
  }
}
@media (max-width: $md3 + px) {
  .advantages__row {
    flex-direction: column;
  }
  .item {
    margin: 0px 0px 10px 0px;
    &__title {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: $md4 + px) {
  .advantages {
    min-height: 100%;
    &__bottom {
      .button-blue {
        width: 300px;
        &__text {
          font-size: 10px;
        }
      }
    }
    &__body {
      justify-content: flex-start;
    }
    &__header {
      flex-direction: column;
      margin: 0px 0px 20px 0px;
      picture {
        display: none;
      }
    }
    &__text {
      p {
        max-width: 100%;
      }
    }
  }
}
// =====================Worth===================================
@media (max-width: 1450px) {
  .worth__background {
    .background {
      img {
        display: none;
      }
    }
  }
  .worth__center {
    flex: 0 1 100%;
    justify-content: center;
    padding: 0px 10px;
  }
  .content {
    max-width: 950px;
  }
}
@media (max-width: $md3 + px) {
  .worth {
    margin: 0px 0px 50px 0px;
  }
  .worth__background {
    width: 100%;
    box-shadow: none;
  }
  .content {
    &__title {
      h2 {
        font-size: 24px;
      }
    }
    &__text {
      font-size: 14px;
    }
    &__autograf {
      font-size: 14px;
    }
  }
}
@media (max-width: $md4 + px) {
  .worth__center {
    padding: 10px 10px;
  }
  .content {
    .button-blue {
      width: 300px;
      &__text {
        font-size: 10px;
      }
    }
    &__autograf {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
// =================Standart=======================================
@media (max-width: $md2 + px) {
  .standart {
    h2 {
      font-size: 24px;
    }
    .text {
      font-size: 15px;
    }
    span {
      font-size: 14px;
    }
  }
}
@media (max-width: $md3 + px) {
  .standart {
    &__content {
      flex: 0 1 100%;
    }
    &__left {
      align-items: center;
    }
    &__right {
      align-items: center;
    }
    span {
      font-size: 11px;
    }
  }
}
@media (max-width: $md4 + px) {
  .standart {
    &__header {
      img {
        display: none;
      }
      flex-direction: column;
      .title {
        margin: 0px 0px 10px 0px;
      }
      .text {
        margin: 0px 0px 10px 0px;

        p {
          max-width: 100%;
        }
      }
    }
    &__row {
      flex-direction: column;
    }
    &__left {
      flex: 0 1 100%;
      width: 100%;
      align-items: flex-start;
    }
    &__right {
      flex: 0 1 100%;
      width: 100%;
      align-items: flex-start;
    }
    .button-blue {
      width: 300px;
      &__text {
        font-size: 10px;
      }
    }
  }
}
@media (max-width: $md1 + px) {
  .standart {
    h2 {
      font-size: 22px;
    }
    .text {
      font-size: 13px;
      p {
        max-width: 100%;
      }
    }
  }
}
// ====================Save====================================
@media (max-width: $md2 + px) {
  .save {
    &__title {
      flex: 0 1 35%;
    }
    h2 {
      font-size: 20px;
    }
    &__bottom {
      margin: 50px 0px 0px 0px;
    }
  }
}
@media (max-width: $md3 + px) {
  .save {
    background: none;
    &__content {
      flex: 0 1 100%;
    }
    &__title {
      flex: 0 1 100%;
    }
    h2 {
      text-align: center;
      font-size: 24px;
    }
    &__bottom {
      margin: 0px 0px 0px 0px;
    }
  }
}
@media (max-width: $md4 + px) {
  .save__bottom {
    .button-blue {
      width: 300px;
      &__text {
        font-size: 10px;
        &:after {
          content: "";
          top: 49%;
          width: 30px;
        }
      }
    }
  }
}
// ========================Home==========================================
@media (max-width: 1150px) {
  .home__background {
    height: 50%;
  }
  .content-home {
    &__bottom {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__column {
      flex: 0 1 40%;
    }
  }
}
@media (max-width: 800px) {
  .home__background {
    height: 33%;
  }
}
@media (max-width: $md3 + px) {
  .home {
    h2 {
      font-size: 24px;
    }
  }
  .content-home__text {
    font-size: 15px;
  }
}
@media (max-width: $md4 + px) {
  .popup {
    &__content {
      padding: 32px 10px 19px !important;
    }
    &__image {
      width: 275px !important;
    }
    .el-button {
      padding: 15px 70px !important;
    }
  }
  .content-home {
    &__top {
      flex-direction: column;
      img {
        display: none;
      }
      h2 {
        text-align: center;
        margin: 0px 0px 10px 0px;
      }
      span {
        text-align: center;
        max-width: 100%;
      }
    }
  }
}
@media (max-width: $md1 + px) {
  .content-home__column {
    .image {
      width: 300px;
    }
  }
}
// =========================SeventhBlock===============================
@media (max-width: 1800px) {
  .start-sale {
    .button-blue {
      width: 200px;
      &__text {
        font-size: 12px;
        &:after {
          content: "";
          width: 35px;
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .start-sale {
    .black-squares-left {
      img {
        display: none;
      }
    }
  }
}
@media (max-width: $md2 + px) {
  .start-sale {
    &__top {
      flex-direction: column;
    }
    &__bottom {
      flex-direction: column;
    }
    &__content {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 20px 0px;
    }
  }
  .bg {
    padding: 0px 0px 385px 0px;
  }
}
@media (max-width: $md3 + px) {
  .bg {
    padding: 0px 0px 132px 0px;
  }
}
@media (max-width: $md4+px) {
  .bg {
    padding: 0px 0px 0px 0px;
  }
}
// =======================Footer=================================
@media (max-width: $md2+px) {
  .footer {
    flex-direction: column;
    &__pecture {
      flex-direction: row;
    }
  }
}
@media (max-width: $md3+px) {
  .footer {
    .logo {
      font-size: 24px;
    }
    &__pecture {
      display: none;
    }
    span {
      font-size: 12px;
    }
    p {
      font-size: 12px;
    }
    &__text {
      line-height: 15px;
    }
    &__column {
      padding: 5px 5px;
    }
  }
}
@media (max-width: $md4+px) {
  .footer {
    &__info {
      flex-direction: column;
    }
    &__column {
      flex: 0 1 100%;
      width: 100%;
    }
    .mail {
      margin: 10px 0px;
    }
    &__text {
      padding: 0px 0px;
    }
    &__list {
      a {
        margin: 5px 0px;
      }
    }
    .logo {
      padding: 0px 0px;
    }
    .reseved {
      padding: 0px 0px;
    }
  }
}
// ========================================================
