.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 18, 24, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
  cursor: auto;
  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }

  &__content {
    border-radius: 5px;
    border: solid 1px #1b1f26;
    background-color: #14191f;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    z-index: 10;
  }

  &__close {
    position: absolute;
    right: 42px;
    top: 42px;
    text-decoration: none;
    width: 15px;
    height: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      right: 0px;
      top: 8px;
      height: 1px;
      width: 100%;
      background-color: #59616d;
      transform: rotate(45deg);
    }
    &:after {
      content: "";
      position: absolute;
      right: 0px;
      top: 8px;
      height: 1px;
      width: 100%;
      background-color: #59616d;
      transform: rotate(-45deg);
    }
    &:hover {
      &:before,
      &:after {
        background-color: var(--x6);
      }
    }
  }
  &__title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--x6);
    position: relative;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      bottom: -20%;
      width: 100%;
      height: 1px;
      background-color: #1b1f26;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    margin: 40px 0px 0px 0px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bottom {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #59616d;
  }
  &__image {
    display: flex;
    width: 330px;
    height: 360px;
    position: relative;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000, $alpha: 0.5);
      transition: all 0.5s ease;
    }
    img {
      max-height: 100%;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    ul {
      li {
        margin: 15px 0px 0px 0px;
        transition: all 0.5s ease;
        span {
          padding: 0px 15px;
          opacity: 0.5;
          color: #fff;
          font-size: 16px;
          line-height: 28px;
        }
        &:hover {
          color: var(--x3);
        }
      }
    }
  }
  &.blur {
    backdrop-filter: blur(10px);
  }
  h1 {
    font-size: 42px;
    font-weight: bold;
    color: var(--x6);
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--x6);
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--x6);
  }
  .el-button {
    margin: 20px 0px 0px 0px;
    padding: 15px 100px;
    background-color: #0d131a;
    span {
      color: var(--x6);
    }
    &:hover,
    :focus {
      background-color: #0d131a !important;
    }
  }
}
.popup.visible {
  opacity: 1;
  visibility: visible;
}
.popup.visible .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
.image-modal {
  &__main {
    min-height: 100%;
    width: 100%;
  }
  &__inside {
    position: absolute;
    left: 30%;
    top: 30%;
  }
}
