@import "./null.scss";
@import "./media.scss";
@import "./modal.scss";

body.yourClassName.noScroll {
  overflow-y: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
}
h1 {
  color: var(--x6);
  font-weight: 900;
  font-size: 64px;
  line-height: 72px;
  font-family: $fontfamily;
}
h4 {
  font-size: 20px;
  color: var(--x2);
  font-family: $fontfamily;
}
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
h2 {
  font-weight: 400;
  font-size: 32px;
  color: var(--x2);
  text-align: left;
  line-height: 45px;
  font-family: $fontfamily;
}
h3 {
  font-size: 20px;
  font-weight: 200;
  color: var(--x2);
  text-align: left;
  font-family: $fontfamily;
}
:root {
  --x2: #000000;
  --x3: #00adef;
  --x5: #282828;
  --x6: #fff;
  --x50: #e92741;

  --text-secondary: rgb(168, 165, 165);
}
.button-blue {
  width: 400px;
  min-height: 70px;
  background: transparent;
  border-bottom: solid 1px;
  color: var(--x3);
  text-align: left;
  position: relative;
  transform: translate3d(160px, 0, 0);
  transition: 1.5s all ease 1.3s;
  opacity: 0;
  &__text {
    text-transform: uppercase;
    color: var(--x3);
    font-size: 14px;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 45%;
      height: 1px;
      width: 80px;
      background-color: var(--x3);
    }
  }
  &:hover {
    .button-blue__text:after {
      animation: button 2s infinite;
      @keyframes button {
        0% {
          right: 0%;
        }
        50% {
          right: 5%;
        }
        100% {
          right: 0%;
        }
      }
    }
  }
}
