<template>
  <div class="wrapper">
    <a class="back__to-top" title="Наверх" @click="goUp" v-show="isVisible"
      ><i class="el-icon-caret-top"></i
    ></a>
    <MainPage ref="block-1" @openblock="openBlock" />
    <Advantages ref="block-2" />
    <Worth ref="block-3" />
    <Standart ref="block-4" />
    <Save ref="block-5" />
    <Home ref="block-6" />
    <StartSale ref="block-7" />
    <Footer ref="block-8" />
  </div>
</template>

<script>
import MainPage from "./components/MainPage/Main";
import Advantages from "./components/Advantages/content";
import Worth from "@/components/Worth/content";
import Standart from "@/components/Standart/content";
import Save from "@/components/Save/content";
import Home from "@/components/Home/content";
import StartSale from "@/components/StartSale/content";
import Footer from "@/components/Footer/content";
import smoothscroll from "smoothscroll-polyfill";
export default {
  data() {
    return {
      isVisible: false,
    };
  },
  components: {
    MainPage,
    Advantages,
    Worth,
    Standart,
    Save,
    Home,
    StartSale,
    Footer,
  },
  mounted() {
    window.addEventListener("scroll", this.scrollPosition);
  },
  methods: {
    async openBlock(number_block) {
      let block = this.$refs[`block-${number_block}`];
      let rect = block.$el.getBoundingClientRect();
      smoothscroll.polyfill();
      window.scrollTo({
        top: rect.top,
        behavior: "smooth",
      });
    },
    scrollPosition() {
      const position = window.pageYOffset;
      if (position > 200) {
        this.isVisible = true;
      } else {
        this.isVisible = false;
      }
    },
    goUp() {
      smoothscroll.polyfill();
      window.scrollTo({
        top: top,
        behavior: "smooth",
      });
    },
    beforeDestroy() {
      window.removeEventListener("scroll", this.scrollPosition);
    },
  },
};
</script>

<style lang="scss">
.back__to-top {
  position: fixed;
  bottom: 80px;
  right: 45px;
  z-index: 9999;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 30px;
  background: var(--x3);
  color: #444;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    opacity: 1;
  }
  @media (max-width: 760px) {
    width: 25px;
    height: 25px;
    right: 10%;
  }
}
</style>
